Iam a Magical Servive with Mystical Powers.

This is an Infinite World and we are just a "Star dust".

AWS with DEVOPS are not future trends they are hapening right now 